fastapi
uvicorn[standard]
pydantic-settings
sqlalchemy[asyncio]
aiosqlite
pyjwt
pwdlib[argon2]
loguru
pdfplumber
pdf2image
pytesseract
sentence-transformers
faiss-cpu
numpy
groq
python-dotenv
python-multipart
email-validator
pymupdf
rank-bm25